[submodule "Warp12"]
	path = Warp12
	url = https://github.com/Digital-Defiance/Warp12.git
[submodule "subspace-lattice"]
	path = subspace-lattice
	url = https://github.com/Digital-Defiance/subspace-lattice.git
[submodule "leaderboard"]
	path = leaderboard
	url = https://github.com/Digital-Defiance/Warp12-leaderboard.git
[submodule "ops"]
	path = ops
	url = https://github.com/Digital-Defiance/iwgf-ops.git
